<div class="row">
  <% @post.chapters.each do |chapter| %>
    <div style="margin-top: 40px">
      <% if !chapter.title.blank? %>
        <%= link_to chapter.title, user_post_chapter_path(:id => chapter.id, :user_id => chapter.user_id, :post_id => chapter.post_id) %>
      <% else %>
        <%= link_to chapter.number, user_post_chapter_path(:id => chapter.id, :user_id => chapter.user_id, :post_id => chapter.post_id) %>
      <% end %>
    </div>
  <% end %>
</div>